[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.1.16"
langchain-community = "*"
langchainhub = "*"
langchain-openai = "*"
langchain-experimental = "==0.0.57"
qrcode = "*"
pillow = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.11"
